################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CollatzProblem
/CollatzProblem/.vscode
/CollatzProblem/bin
/CollatzProblem/obj
/CollatzProblem/Properties/PublishProfiles
/CollatzProblem/Program.exe
/CollatzProblem/CollatzProblem.csproj.user
